.formField{
    display: flex;
    justify-items: center;
    section{
        border-radius: 6px;
    }
    form{
        width: 100%;
        padding:10px;
        div{
           margin-top:10px;
           margin-bottom: 10px; 
        }
        input[type=text], input[type=email]{
            width: 40%;
        }
        ::placeholder{
            color:rgba(0,0,0,0.6);
        }
    }
}